{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Time Table</h3>
                </div>
                <div class="card-body">

                    <div class="card bg-light mb-3">
                        <div class="card-header"><h4 class="text-info">Disclaimer</h4></div>
                        <div class="card-body">
                            <p>
                                This software is designed to assist in creating and managing timetables for educational or organizational purposes.
                            </p>
                            <p>
                                While every effort is made to ensure the accuracy of the schedules generated, users are advised to review and confirm all details independently.
                            </p>
                            <p>
                                The developers are not liable for any discrepancies, errors, or conflicts that may arise from the use of this software.
                            <p>
                                
                            </p>
                        </div>
                    </div>

                    <hr>

                    <div class="card bg-light mb-3">
                        <div class="card-header"><h4 class="text-info">Timetable Management System</h4></div>
                        <div class="card-body">
                            <p>
                                This app respects and protects the privacy of its users. This Privacy Policy outlines the types of personal information that may be received and collected and how it may be used.
                            </p>
                            <ol>
                                <li><strong>For Teachers: Easily view assigned classes, manage availability, and track schedules.</strong></li>
                                <li><strong>For Students: Access personalized class timetables and receive updates about changes in schedules.</strong></li>
                                <li><strong>Admin Control: Streamlined tools for managing course timings, room allocations, and faculty assignments.SS</strong></li>
                            </ol>

                            <p>
                               
                            </p>
                        </div>
                    </div>

                    <hr>

                  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
